<div class="w3-bar w3-white whitebar pc-version">
  <div class="logo-nav">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-small" href="/" tabindex="0">A </a> 
  </div>
  <div class="menu-nav">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-small" href="/" tabindex="0">B </a> 
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-small" href="/" tabindex="0">C </a> 
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-small" href="/" tabindex="0">D </a> 
  </div>
</div>

