$primary-font: "MinionProRegular", sans-serif;
$secondary-font: "Josefin Sans";
$tertiary-font: "LovelyMay";

$colour-a: #F4EFE7 ;
$colour-b: #8B1E2D ;
$colour-c: #C6A15A ;
$colour-d: #9EAD9B ;
$colour-e: #B08A78 ;
$colour-f: #E6D7C7 ;
 
//$secondary-colour

body {
  font-family: $tertiary-font;
  font-size: 2vw;
  color: black;
  margin: 0;

  background-color: $colour-f;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $tertiary-font;
    font-size: 10vw;
    text-align: center;
    color: $colour-a;
  }
  h2 {
    font-family: $tertiary-font;
    font-size: 5em ;
    text-align: center;
  }
  h3 {
    font-family: $secondary-font;
    text-align: center;
  }
  p {
    font-size: 1em;
    font-family: $primary-font;
    text-align: center;

  }

}

.full-width {
  width:100%;
}

.normal-width {
  width: 100%;
  max-width: 1200px;
}

.name-section {

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;

  position: relative;
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-color: $colour-d;
  background-position: center;

  width: 100%;
  //max-width: 1920px;
  max-height: 1080px;

  h1 {
    position: relative;
    color: white;
    /*
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    width: 100%;
  }

  img {
    width:60%;
    object-fit: contain;
    margin-bottom: -5em;
  }


}

.global-shadow {
  box-shadow: 8px 8px 4px #8C8C8C24 ;
}

.flavourtext-section {
  max-width: 1200px;
}

.gold {
  color: $colour-c;
}
.burgundy {
  color: $colour-b;
}
.sage {
  color: $colour-d;
}

.kerned {
  letter-spacing: 0.1em;
  font-size: 1.8em;
}

.rsvp-section {

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $colour-a;
  background-image: url("../images/background_opaque.png");
  background-position: center;
  background-size: cover;

  max-width: 1200px;
  height: 1200px;
  min-height: 820px;
  max-height: 80vh;
  width: 100%;

  p {
    font-size: 1.2em;
    margin: 0 0 0.6em 0;

  }

  h2 {
    writing-mode: sideways-lr;
    font-family: "AngeleRegular";
    font-size: 10em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    color: $colour-d;
  }

  img {
    position: absolute;
    right: 0%;


    object-fit: contain;
    //width: 70vh;

    height: 800px;
  }

  .cards {
    /*
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    */
    width: 80%;
  }
  
  .card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em 2em 0em;
    margin: 0 2em 0 2em;

    width: 80%;
    min-height: 360px;
    min-width: 400px;
    z-index: 2;
    overflow:visible;

    background-color: white;
  }

  .text {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    div {
      width: 80%;
    }
  }

  .main {
    align-items: flex-start;
    transform: translateY(150px);
    transition: transform 0.25s;
  }

  .questions {
    z-index: 1;
    font-size: 1em;
    transform: translateY(-210px);
    transition: transform 0.5s;
    border-left: 6em $colour-d solid;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 60px;

    label, input {
      font-family: $secondary-font;
      text-align: center;
    }
    input {
      margin-bottom: 1em;   
    }
  }

  .no {
    transform: translateY(-180px);
    //transition: translate 2s;
    p {
      visibility: visible;
    }
    input, label {
      visibility: hidden;
    }
    .toggle {
      input {
        background-color: $colour-c;
        color: white;
      }
    }
  }

  .yes {
    transform: translateY(0px);
    //transition: translate 2s;
    p {
      visibility: hidden;
    }
    input, label {
      visibility: visible;
    }
    .toggle {
      input {
        background-color: transparent;
        color: $colour-c;
      }
    }
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.5em;
    }
    div {
      width: 100%;
      display: inherit;
      justify-content: center;
    }
  }

  .press {
    font-family: "AngeleRegular";
    font-size: 1.5em;
    padding: 0.25em 1.5em 0.25em 1.5em;
    background-color: transparent;
    border: $colour-c 2px solid;
    border-radius: 18px;
    height: 2em;

  }

  .press:hover {
    background-color: $colour-c;
    color: white;
  }

  .toggled {
    transform: translateY(0px);
  }

}
.hindu-section::before {
  content: "";
  //background-color: $colour-a;
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover;

  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  opacity: 0.1;

}
.hindu-section {
  display: inherit;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: $colour-a;

  background-image: url("../images/background_opaque.png");
  background-position: center;
  background-size: cover;

  width: 100%;
  max-width: 1200px;
  min-height: 600px;

  margin-top: 2em;
  padding: 2em 1em 0 0;
  
  h2 {
    font-size: inherit;
    font-size: 3em;
    font-family: $primary-font;
    text-decoration: none;
    letter-spacing: 0.25em;
    line-height: 1em;
    color: $colour-d;
    padding: 0 1em 0 1em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.2em;
  }


  .text {
    display: inherit;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20%;
    //transform: translateX(-28%);
    background-color: $colour-a;
    padding: 2em 1em 2em 1em;
    max-width: 900px;
    width: 60%;
    z-index: 1;

    img {
      height: 6em;
    }

  }

  .mandala-corner {
    position: absolute;
    top: 0%;
    max-width: 20vh;

    opacity: 0.6;

  }

  .mandala {
    opacity: 0.6;
    object-fit: contain;
    max-width: 60vh;
    max-height: 600px;
  }
}


@media (min-width: 1200px) {
  .name-section {
    h1 {
      font-size: 8em;
    }
    img {
      max-width: 900px;
    }
  }
  .hindu-section {
    p {
      font-size: 1.5em;
    }

  }
  .rsvp-section {
    .card {
      padding-right: 2em;
    }

  }
}

@media (max-width: 900px) {
  .hindu-section {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }

    .text {
      left: 10%;
      width: 80%;
    }
  }
  .rsvp-section {
    .press {
      font-size: 1.2em;
    }
    .card {
      padding: 1em 1em 1em 0em;
      margin: 0em;
      width: 80%;

      h2 {
        font-size: 5em;
      }

      h3 {
        font-size: 1.2em;
      }
      p {
        font-size: 1em;
      }
    }
    .questions {
      margin: 0;
    }
  }
}


/*
.questions>p {
  text-align: left;
  border: 1px solid black;
  width: 100%;
}
*/

