---
--- 
@import "main";
@import "nav";
@import "image-text";

@font-face {
	font-family: "LovelyMay";
	src: url("../../assets/fonts/LovelyMayRegular.otf");
}
@font-face {
	font-family: "AngeleBold";
	src: url("../../assets/fonts/AngeleBold.otf");
}
@font-face {
	font-family: "AngeleRegular";
	src: url("../../assets/fonts/AngeleRegular.otf");
}

@font-face {
	font-family: "MinionProRegular";
	src: url("../../assets/fonts/MinionProRegular.otf");
}